<!-- footer -->
<footer>
  <!-- copyright -->
  <div class="bg-secondary-darken py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-md-left mb-3 mb-md-0">
          <p class="mb-0">Copyright &copy; <script>
              var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script> {{ .Site.Params.copyright.copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->


{{ "<!-- JS Plugins -->" | safeHTML }}

{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}

