{{ define "main" }}

<!-- <div class="home-hero-sec" style="background-image: url('{{`images/hero-img.jpg` | relURL }}');">
  <div class="container">
    <div class="text-box">
      <h1>I<span>'</span>M<br>Gautam <br>Rao<span>.</span></h1>
      <p>Associate Professor of Economics, <br>Harvard University</p>
    </div>
  </div>
</div> -->

<div class="home-hero-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 home-hero-sec-right">
        <div class="text-box wow fadeInLeft">
          <h1>Patrick Turley, PhD</h1>
          <h4>Associate Professor of Economics, Harvard University</h4>
          <p>I am an Associate Professor (without tenure) at the Department of Economics at Harvard University. I graduated from UC Berkeley with a PhD in Economics in 2014.</p>
          <p>635 Downey Way <br>Los Angeles, CA 90089-3332</p>
          <p><strong>Phone:</strong> 801-360-7650</p>
          <p><strong>Email:</strong> example@gmail.com</p>
          <!-- <p><a href="{{`images/cv.pdf` | relURL }}" target="_blank"><strong>CV</strong></a></p> -->
          <div class="links-box">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 home-hero-sec-left">
        <div class="img-box wow fadeInRight">
          <img src="{{`images/profile-img.jpg` | relURL }}">
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- <div class="sec-bio" id="bio">
  <div class="container">
    <div class="text-box text-left">
      <p>I am an Associate Professor (without tenure) at the Department of Economics at Harvard University. I graduated from UC Berkeley with a PhD in Economics in 2014.<br><br>
      My research tries to bring insights from psychology to bear on topics in economics, particularly topics relevant to developing countries. Recent projects include studying how improving sleep affects the economic outcomes of workers in India, how the endowment effect influences consumer demand for collateralized loans in Kenya, how research findings affect the beliefs and policy choices of mayors in Brazil, and how mixing rich and poor students in schools in India affects social preferences and behaviors.<br><br>
      Together with Frank Schilbach and Heather Schofield, I help run the Behavioral Development Lab in India. I am a Faculty Research Fellow at the National Bureau of Economic Research (NBER), and a faculty affiliate at the The Abdul Latif Jameel Poverty Action Lab (JPAL). From 2018 to 2020, I served as an Associate Editor at the Journal of Political Economy.</p>
    </div>
  </div>
</div>

<div class="sec-academics" id="academics">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Academics</h2>
      </div>
      <div class="col-12">
        <div class="academics-list">
          <div class="academics-list-row">
            <div class="academics-l">
              <h4><strong>2010-2016</strong></h4>
              <p>PhD</p>
            </div>
            <div class="academics-r">
              <h4>HARVARD UNIVERSITY</h4>
              <table>
                <tr>
                  <td>Field: </td>
                  <td>Economics</td>
                </tr>
                <tr>
                  <td>Thesis: </td>
                  <td>Essays in Economics and Education</td>
                </tr>
                <tr>
                  <td>Honors: </td>
                  <td>Roger L. Martin Cornerstone Graduate Student Fellowship<br>
                  (9/2015 – 5/2016) and National Science Foundation<br>
                  Graduate Research Fellowship (9/2010 – 5/2013)</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="academics-list-row">
            <div class="academics-l">
              <h4><strong>06/2016, 06/2017, 06/2019</strong></h4>
              <p>Bachelor's Degree</p>
            </div>
            <div class="academics-r">
              <h4>BRIGHAM YOUNG UNIVERSITY</h4>
              <table>
                <tr>
                  <td>Field: </td>
                  <td>Economics</td>
                </tr>
                <tr>
                  <td>Thesis: </td>
                  <td>Essays in Economics and Education</td>
                </tr>
                <tr>
                  <td>Honors: </td>
                  <td>Roger L. Martin Cornerstone Graduate Student Fellowship<br>
                  (9/2015 – 5/2016) and National Science Foundation<br>
                  Graduate Research Fellowship (9/2010 – 5/2013)</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

{{ "<!-- publications -->" | safeHTML }}
<div class="sec-publications" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-3">
        {{ with .Site.Data.publications }}
        <h2>{{ .titleSM }}</h2>
         {{ end }}
      </div>
      <div class="col-12">
        {{ range first 3 .Site.Data.publications.publicationsItem }}
        {{ "<!-- publications-item -->" | safeHTML }}
        <div class="row pub-list wow fadeInUp">  
          <div class="col-md-6 img-box"> 
            <a href="{{ .pblink }}">   
              <img src="{{ .pbimg | absURL }}">
            </a>
          </div>    
          <div class="col-md-6 text-box">
            <div class="pb-column-in">
              <h4>{{ .pbname }}</h4>
              <p>{{ .content }}</p>
              <div class="pdf-link">
                <a href="{{ .pblink }}" target="_blank">View PDF</a>
              </div>
            </div>
          </div>         
        </div>
         {{ end }}
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mb-3 mt-10">
        {{ with .Site.Data.workingpapers }}
        <h2>{{ .titleSM }}</h2>
         {{ end }}
      </div>
      <div class="col-12">
        {{ range first 3 .Site.Data.workingpapers.publicationsItem }}
        {{ "<!-- workingpapers-item -->" | safeHTML }}
        <div class="row pub-list wow fadeInUp">  
          <div class="col-md-6 img-box"> 
            <a href="{{ .pblink }}">   
              <img src="{{ .pbimg | absURL }}">
            </a>
          </div>    
          <div class="col-md-6 text-box">
            <div class="pb-column-in">
              <h4>{{ .pbname }}</h4>
              <p>{{ .content }}</p>
              <div class="pdf-link">
                <a href="{{ .pblink }}" target="_blank">View PDF</a>
              </div>
            </div>
          </div>         
        </div>
         {{ end }}
      </div>
    </div>


    <div class="row">
      <div class="col-12 text-center mb-3 mt-10">
        {{ with .Site.Data.workinprogress }}
        <h2>{{ .titleSM }}</h2>
         {{ end }}
      </div>
      <div class="col-12">
        {{ range first 3 .Site.Data.workinprogress.publicationsItem }}
        {{ "<!-- workinprogress-item -->" | safeHTML }}
        <div class="row pub-list wow fadeInUp">    
          <div class="col-md-12 text-box">
            <div class="pb-column-in">
              <h4>{{ .pbname }}</h4>
              <p>{{ .content }}</p>
              <div class="pdf-link">
                <a href="{{ .pblink }}" target="_blank">View PDF</a>
              </div>
            </div>
          </div>         
        </div>
         {{ end }}
        <center><a href="{{ .Site.BaseURL }}publications" class="btn btn-primary hover-ripple">Read More</a></center>
      </div>
    </div>

  </div>
</div>
 {{ "<!-- /publications -->" | safeHTML }}

 
<div class="contact-sec" id="contact" style="background-image: url('{{`images/contact-img.jpg` | relURL }}');">
  <div class="container">
    <div class="container-in wow fadeIn">
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h2>CONTACT ME</h2>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-5">
              <h3>Joel Becker</h3>
              <p>Assistant Professor (Research)</p>
              <p><strong>Phone:</strong> 801-360-7650</p>
              <p><strong>Email:</strong> example@gmail.com</p>
              <div class="social-box">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7">
              <form action="https://forms.un-static.com/forms/2fd8510e2235102a91baf6664efbec7f87490283" method="POST" class="row">
                <div class="col-md-6">
                  <input type="text" name="name" id="name" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Name">
                </div>
                <div class="col-md-6">
                  <input type="email" name="mail" id="mail" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Email">
                </div>
                <div class="col-md-6">
                  <input type="text" name="phone" id="phone" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Phone">
                </div>
                <div class="col-md-6">
                  <input type="text" name="subject" id="subject" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Subject">
                </div>
                <div class="col-12">
                  <textarea name="message" id="message" class="form-control border-0 rounded-0 box-shadow mb-4 py-3 px-4" placeholder="Your Message"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" value="send" class="btn btn-primary hover-ripple">send message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}