// Color Variables
$primary-color: #444;
$body-color: #FFF;
$black: #000;
$white: #fff;
$green: #00d646;
$text-color: #444;
$secondary-color: #f1f1f1;
$body-color-dark: #4d5366;
    

// Font Variables
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Barlow Condensed', sans-serif;
$icon-font: 'FontAwesome';